pipeline/PL_Master.json
{
	"name": "PL_Trigger",
	"properties": {
		"activities": [
			{
				"name": "SV_TriggerTime",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineTriggerTime",
					"value": {
						"value": "@pipeline().TriggerTime",
						"type": "Expression"
					}
				}
			},
			{
				"name": "EX_PL_SAP_FullLoad",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SV_TriggerTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_SAP_FullLoad",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"PipelineTriggerTime": {
							"value": "@variables('PipelineTriggerTime')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "EX_PL_SAP_DeltaLoad",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SV_TriggerTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_SAP_DeltaLoad",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"PipelineTriggerTime": {
							"value": "@variables('PipelineTriggerTime')",
							"type": "Expression"
						}
					}
				}
			}
		],
		"variables": {
			"PipelineTriggerTime": {
				"type": "String"
			}
		},
		"annotations": []
	}
}