pipeline/PL_SAP_DeltaLoad.json
{
	"name": "PL_SAP_DeltaLoad",
	"properties": {
		"activities": [
			{
				"name": "LK_SAPDeltaTable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT * FROM dbo.SAP_Lookup WHERE LoadType = 'Delta'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "LookUpTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FE_DeltaLoad",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LK_SAPDeltaTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LK_SAPDeltaTable').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CP_SAPtoStg",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SapTableSource",
									"rfcTableOptions": {
										"value": "@{item().DeltaCondition}",
										"type": "Expression"
									},
									"customRfcReadTableFunctionModule": "",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"preCopyScript": {
										"value": "@{concat('IF OBJECT_ID(','''',item().SinkSchemaName,'.',item().SinkTableName,'''',') IS NOT NULL\nTRUNCATE TABLE ',item().SinkSchemaName,'.',item().SinkTableName)}",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SapTable",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item().SourceTableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_DeltaTable",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchemaName": {
											"value": "@item().SinkSchemaName",
											"type": "Expression"
										},
										"SinkTableName": {
											"value": "@item().SinkTableName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "SP_DeltaLoad",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CP_SAPtoStg",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_LoadTypeDeltaSTGtoDBO]",
								"storedProcedureParameters": {
									"ModifiedDate": {
										"value": {
											"value": "@pipeline().parameters.PipelineTriggerTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"SourceTableName": {
										"value": {
											"value": "@item().SourceTableName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SAPFunctional",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SP_Delta_AuditLog",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "SP_DeltaLoad",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[etl].[usp_AuditLog]",
								"storedProcedureParameters": {
									"CopyDuration": {
										"value": "",
										"type": "Int32"
									},
									"Error": {
										"value": "",
										"type": "String"
									},
									"ExecutionTime": {
										"value": "",
										"type": "DateTime"
									},
									"ModifiedDate": {
										"value": "",
										"type": "DateTime"
									},
									"PipelineName": {
										"value": "",
										"type": "String"
									},
									"PipelineRunID": {
										"value": "",
										"type": "String"
									},
									"RowsCopied": {
										"value": "",
										"type": "Int32"
									},
									"RowsRead": {
										"value": "",
										"type": "Int32"
									},
									"SourceName": {
										"value": "",
										"type": "String"
									},
									"Status": {
										"value": "",
										"type": "String"
									},
									"TargetSchemaName": {
										"value": "",
										"type": "String"
									},
									"TargetTableName": {
										"value": "",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SAPFunctional",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "LK_DependentTable",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "FE_DeltaLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT * FROM dbo.SAP_Lookup WHERE LoadType = 'Dependent Delta'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "LookUpTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FE_DependentDeltaLoad",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LK_DependentTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LK_DependentTable').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CP_SourceToStgDependent",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "LK_DependentDeltaCondtion",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SapTableSource",
									"rfcTableOptions": {
										"value": "@{activity('LK_DependentDeltaCondtion').output.value[0].String}",
										"type": "Expression"
									},
									"customRfcReadTableFunctionModule": "",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"preCopyScript": {
										"value": "@{concat('IF OBJECT_ID(','''',item().SinkSchemaName,'.',item().SinkTableName,'''',') IS NOT NULL\nTRUNCATE TABLE ',item().SinkSchemaName,'.',item().SinkTableName)}",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SapTable",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item().SourceTableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_DependentTable",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": {
											"value": "@item().SinkSchemaName",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().SinkTableName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "SP_DependentDeltaLoad",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CP_SourceToStgDependent",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_LoadTypeDeltaSTGtoDBO]",
								"storedProcedureParameters": {
									"ModifiedDate": {
										"value": {
											"value": "@pipeline().parameters.PipelineTriggerTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"SourceTableName": {
										"value": {
											"value": "@item().SourceTableName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SAPFunctional",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "LK_DependentDeltaCondtion",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@{concat('SELECT CONCAT(','''',item().PK_Column,' IN (','''',',','''''''''',',','(SELECT STRING_AGG(CONVERT(NVARCHAR(max)',',',item().PK_Column,')',',',''''''',''''''',') FROM ',item().SinkSchemaName,'.',item().DependentOn,')',',','''''''''',',',''')'')',' AS String')}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_DependentDeltaCondition",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "SP_AuditLog",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "SP_DependentDeltaLoad",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[etl].[usp_AuditLog]",
								"storedProcedureParameters": {
									"CopyDuration": {
										"value": "",
										"type": "Int32"
									},
									"Error": {
										"value": "",
										"type": "String"
									},
									"ExecutionTime": {
										"value": "",
										"type": "DateTime"
									},
									"ModifiedDate": {
										"value": "",
										"type": "DateTime"
									},
									"PipelineName": {
										"value": "",
										"type": "String"
									},
									"PipelineRunID": {
										"value": "",
										"type": "String"
									},
									"RowsCopied": {
										"value": "",
										"type": "Int32"
									},
									"RowsRead": {
										"value": "",
										"type": "Int32"
									},
									"SourceName": {
										"value": "",
										"type": "String"
									},
									"Status": {
										"value": "",
										"type": "String"
									},
									"TargetSchemaName": {
										"value": "",
										"type": "String"
									},
									"TargetTableName": {
										"value": "",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SAPFunctional",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"PipelineTriggerTime": {
				"type": "string"
			}
		},
		"annotations": []
	}
}