pipeline/PL_Trigger.json
{
	"name": "PL_Trigger",
	"properties": {
		"activities": [
			{
				"name": "LK_LoadType",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "LookUpTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FE_LoadTypeExecution",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LK_LoadType",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LK_LoadType').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "IF_LoadType",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().LoadType,'Full')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "EX_PL_SAP_DeltaLoad",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "PL_SAP_DeltaLoad",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "EX_PL_SAP_FullLoad",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "PL_SAP_FullLoad",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}